*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", sans-serif;
}
:root {
    /* primary */
    --darkblue: hsl(243, 87%, 12%);
    --desaturatedblue: hsl(238, 22%, 44%);

    /* accent */
    --brightblue: hsl(224, 93%, 58%);
    --moderateCyan: hsl(170, 45%, 43%);

    /* neutral */
    --lightgrayishblue: hsl(240, 75%, 98%);
    --lightgray: hsl(0, 0%, 75%);
}

.logo{
    margin-left: 100px;
    margin-top: 20px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    
}
.nav-links ul{
    display: flex;
    gap: 10px;
    margin-right: 50px;
    margin-top: 20px;
}
.nav-links ul li {
    list-style: none;
}
.email-container{
    display: flex;
    justify-content: space-evenly;
}
.email-image img{
    width: 100%;
    height: 500px;
}
.email-container p{
    margin-top: 10px
}
.email-text{
    margin-top: 100px;
}
.email-text input {
    margin-top: 20px;
    padding: 10px 60px;
}
.email-text button{
    padding: 9px 32px;
    background-color: var(--brightblue);
    border: none;
    color: white;
}
.email-text h1{
    font-size: 50px;
}

.productive-container{
    background-image: url('./images/bg-curve-desktop.svg');
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.text-container h1{
    padding-top: 100px;
    padding-left: 50px;
}
.text-container-p1{
    padding-left: 50px;
    padding-top: 50px;

}
.text-container-p2{
    padding-left: 50px;
    padding-top: 25px;

}
.text-container a {
    padding-left: 50px;
    color: var(--moderateCyan);
    display: block;
    padding-top: 10px;
}
.productive-container img {
    width: 100%;
    height: 500px;
}
.text-container img {
    width: 10px;
    height: 10px;
}
.card-container{
    display: flex;
    flex-direction: column;
    margin-left: 115px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.avatar-container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.avatar-container p{
    font-size: 20px;
    font-weight: bold;
}
.avatar-container span {
    font-size: 15px;
    font-weight: 400;
    color: var(--lightgray);
}
.card-container p {
    font-size: large;
}
.newsletter{
    background-color: var(--desaturatedblue);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.newsletter-text{
    color: var(--lightgrayishblue);
    padding-top: 100px;
    padding-left: 10px;
    padding-bottom: 100px;
}
.newsletter-text p {
    margin-top: 20px;
    font-size: 14px;
}
.newsletter-input{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.newsletter-input input {
    padding: 15px 150px;
    border-radius: 5px;
    margin-top: 100px;
    border: none;
}
.newsletter-input button {
    margin-top: 20px;
    width: 50%;
    height: 40px;
    background-color: var(--brightblue);
    border: none;
    color: var(--lightgrayishblue);
}
footer{
    background-color: var(--darkblue);
    color: var(--lightgrayishblue);
}
.main{
     display: flex;
     justify-content: space-evenly;
}
.phone-container{
    display: flex;
    gap: 10px;
}
.email-container-main{
    display: flex;
    justify-content:center ;
    align-items: center;
    margin-top: 10px;
    margin-left:-18px;
    gap: 10px;
}
/* .email-container img {
    width: 25px;
    height: 25px;
} */
.second-col :nth-child(1){
    margin-top: 60px;
}
.second-col p {
    margin: 10px;
}
.third-col :nth-child(1){
    margin-top: 60px;
}
.third-col p {
    margin: 10px;
}
.forth-col{
    margin-top: 50px;
}

@media (max-width:740px) {
    .logo {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    .logo img{
        width: 100% !important;
        height: 40px !important;

    }
    .nav-links ul {
        margin-right: 10px !important;
        margin-top: 10px !important;
    

    }
    .email-image img{ 
        width: 100% !important;
        height: auto !important;
    }
    .email-text h1 {
        font-size: 23px !important;
    }
    .email-container {
        flex-direction: column-reverse !important;
        text-align: center;
    }
    .email-text button {
        margin-top: 10px !important;
        width: 67% !important;
        padding: 10px;
    }

    
   
    .productive-container{
        flex-direction: column !important;
        width: 100% !important;
        padding-bottom: 0 !important;
    }
    .card-container{
        margin-left: 0 !important;
    }
    .image-container img{
        width: 100%;
        height: auto;
    }
    .productive-container :nth-child(1){
        order: 1; 
    }
    .card-container{
        order: 2;
        margin-top: 50px;
    }
    .card-container :nth-child(2){
        order: 2;
    }
    .newsletter {
        text-align: center;
        padding-left: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 50px;
    }
    .newsletter-input input {
        padding: 14px 75px !important;
        margin-left: 20px;
        margin-top: 0 !important;
    }
    .newsletter-input button {
        width: 85% !important;
        margin-left: 20px;
    }
    .main {
        flex-direction: column;
    }
    .email-container-main {
        margin-left: 0 !important;
        justify-content: flex-start !important;
        flex-direction: row !important;
        padding-top: 20px;
    }
    .text-container a {
        text-align: center !important;
    }
    .phone-container {
        padding-top: 30px;
    }
    .first-col{
        margin-top: 100px !important;
    }

}